@charset "UTF-8";
.benefits {
  background-image: url(../img/benefits_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.benefits__wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 10px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.benefits__title {
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.benefits__items {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 145px;
  grid-row-gap: 60px;
  position: relative;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
}

.benefits__items .slick-arrow {
  position: absolute;
  bottom: -50px;
  background: linear-gradient(88.76deg, #eeb15c 0%, #f4dd8e 91.51%);
  border-radius: 10px;
  font-size: 0;
  width: 80px;
  height: 35px;
  border: 0;
  outline: none;
}

.benefits__items .slick-arrow::after {
  font-family: "icomoon" !important;
  content: "\e900";
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 40px;
}

.benefits__items .slick-arrow.slick-prev {
  left: 10px;
}

.benefits__items .slick-arrow.slick-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.benefits__items .slick-arrow.slick-next {
  right: 10px;
}

.benefits__item {
  background: radial-gradient(241.11% 708.4% at 13.8% -85.11%, #484a53 0%, #2a2b30 100%);
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  position: relative;
}

.benefits__item::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 65px;
  top: 32px;
  left: -3.5px;
  background: linear-gradient(88.76deg, #eeb15c 0%, #f4dd8e 91.51%), radial-gradient(241.11% 708.4% at 13.8% -85.11%, #484a53 0%, #2a2b30 100%);
  border-radius: 10px;
}

.benefits__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.benefits__item-head span {
  font-size: 54px;
}

.benefits__item-num {
  font-weight: 800;
  font-size: 60px;
  opacity: 0.05;
  line-height: 60px;
}

.benefits__item-title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.benefits__item-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 65px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.benefits__item-text {
  font-weight: 600;
  font-size: 12px;
}

.benefits__text {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px;
}

.benefits__decor {
  position: absolute;
  width: 100%;
  max-width: 165px;
  top: -32px;
  right: 0;
}

@media (max-width: 1400px) {
  .benefits__decor {
    max-width: 100px;
    top: -100px;
  }
}

@media (max-width: 1250px) {
  .benefits__items {
    grid-column-gap: 100px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 1100px) {
  .benefits__items {
    grid-column-gap: 60px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 1000px) {
  .benefits__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .benefits__wrapper {
    padding: 80px 10px;
  }
  .benefits__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .benefits__items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    margin-bottom: 80px;
  }
  .benefits__text {
    font-size: 20px;
  }
  .benefits__decor {
    max-width: 70px;
    top: -60px;
  }
}

@media (max-width: 650px) {
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 400px;
  }
  .benefits__item {
    max-width: 100%;
    margin: 0 10px;
  }
  .benefits__title {
    font-size: 28px;
  }
  .benefits__text {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .benefits__title {
    font-size: 20px;
  }
  .benefits__text {
    font-size: 14px;
  }
}
