.footer {
  background-image: url(../img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.footer__wrapper {
  width: 100%;
  max-width: 1070px;
  padding: 120px 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
}

.footer__suptext {
  font-size: 25px;
  line-height: 145%;
  margin-bottom: 35px;
}

.footer__text {
  font-weight: bold;
  font-size: 35px;
  line-height: 125%;
  margin-bottom: 70px;
}

.footer__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 35px;
  line-height: 125%;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.footer__subtext p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 55px;
}

.footer__smile {
  position: absolute;
  width: 156px;
  height: 156px;
  top: 211px;
  left: -220px;
  z-index: 1;
}

.footer__fire {
  position: absolute;
  width: 156px;
  height: 156px;
  bottom: 100px;
  right: -136px;
  z-index: 1;
}

.footer__subtext-img {
  width: 100%;
  max-width: 98px;
}

.footer__decor {
  position: absolute;
  width: 100%;
  max-width: 137px;
  bottom: -5px;
  left: 0;
}

@media (max-width: 1400px) {
  .footer__decor {
    max-width: 100px;
  }
}

@media (max-width: 1520px) {
  .footer__smile {
    left: -150px;
  }
}

@media (max-width: 1400px) {
  .footer__smile {
    display: none;
  }
  .footer__fire {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer__suptext {
    font-size: 20px;
  }
  .footer__text {
    font-size: 24px;
  }
  .footer__subtext {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding: 80px 10px;
  }
  .footer__text {
    margin-bottom: 50px;
  }
  .footer__decor {
    max-width: 70px;
  }
}

@media (max-width: 700px) {
  .footer__suptext {
    font-size: 18px;
  }
  .footer__text {
    font-size: 22px;
  }
  .footer__subtext {
    font-size: 22px;
  }
  .footer__subtext p {
    margin: 0 30px;
  }
  .footer__subtext-img {
    max-width: 50px;
  }
}

@media (max-width: 500px) {
  .footer__subtext {
    font-size: 20px;
  }
  .footer__subtext p {
    margin: 0 15px;
  }
  .footer__subtext-img {
    max-width: 30px;
  }
}

@media (max-width: 370px) {
  .footer__subtext-img {
    display: none;
  }
}
