.form {
  margin-top: 90px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  padding: 100px 50px 70px;
  text-align: center;
  position: relative;
}

.form::before {
  position: absolute;
  content: "";
  background: linear-gradient(88.76deg, #eeb15c 0%, #f4dd8e 91.51%);
  border-radius: 10px;
  width: 19px;
  height: 313px;
  left: -9px;
  top: 120px;
}

.form__title {
  font-weight: 800;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  margin-bottom: 50px;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 22px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
}

.form__input:last-of-type {
  margin-bottom: 50px;
}

.form__input::-webkit-input-placeholder {
  font-size: 18px;
  color: #000;
}

.form__input:-ms-input-placeholder {
  font-size: 18px;
  color: #000;
}

.form__input::-ms-input-placeholder {
  font-size: 18px;
  color: #000;
}

.form__input::placeholder {
  font-size: 18px;
  color: #000;
}

.form__decore-img {
  position: absolute;
  width: 100%;
  max-width: 154px;
  height: 154px;
  left: 50%;
  top: -10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.form .btn {
  width: 100%;
  border: 0;
  outline: none;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .btn span {
  font-size: 45px;
}

.carousel__button.is-close {
  top: -66px !important;
  right: -160px !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1200px) {
  .carousel__button.is-close {
    right: -80px !important;
  }
}

@media (max-width: 1200px) {
  .carousel__button.is-close {
    right: 0px !important;
  }
}

@media (max-width: 650px) {
  .form {
    padding: 60px 30px 50px;
  }
  .form__title {
    font-size: 24px;
  }
  .form__text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .form__input:last-of-type {
    margin-bottom: 40px;
  }
  .form__decore-img {
    max-width: 100px;
    height: 100px;
  }
  .fancybox__slide {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .form__title {
    font-size: 20px;
  }
  .form .btn {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .form {
    padding: 60px 15px 50px;
  }
  .form::before {
    width: 10px;
    left: -5px;
  }
  .form__title {
    font-size: 20px;
  }
  .form .btn {
    font-size: 14px;
  }
  .form .btn span {
    display: none;
  }
}
