.secret {
  padding: 120px 0;
  background-image: url(../img/secret_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.secret__wrapper {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 80px;
  position: relative;
  z-index: 5;
}

.secret__title {
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secret__title-img {
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 30px;
}

.secret__title-text {
  font-weight: 800;
  font-size: 54.8537px;
  text-transform: uppercase;
  color: #000000;
}

.secret__title-text span {
  display: inline-block;
  background: linear-gradient(88.76deg, #eeb15c 0%, #f4dd8e 91.51%), #c4c4c4;
  padding: 0 10px;
}

.secret__description p {
  margin-bottom: 25px;
  font-size: 20px;
}

.secret__description p:last-child {
  margin-bottom: 0;
}

.secret__decor {
  position: absolute;
  width: 100%;
  max-width: 155px;
  top: -180px;
  left: 0;
  z-index: 1;
}

@media (max-width: 1400px) {
  .secret__decor {
    max-width: 100px;
    top: -100px;
  }
}

@media (max-width: 1320px) {
  .secret {
    padding: 100px 20px;
  }
  .secret__wrapper {
    max-width: 100%;
  }
  .secret__title-text {
    font-size: 45px;
  }
}

@media (max-width: 1200px) {
  .secret__wrapper {
    grid-gap: 20px;
  }
  .secret__title-text {
    font-size: 40px;
  }
  .secret__description p {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .secret__wrapper {
    padding: 20px;
  }
  .secret__title-text {
    font-size: 34px;
  }
  .secret__description p {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .secret {
    padding: 100px 10px;
  }
  .secret__title-text {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .secret {
    padding: 80px 10px;
  }
  .secret__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secret__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secret__title-img {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .secret__decor {
    max-width: 70px;
    top: -60px;
  }
}

@media (max-width: 450px) {
  .secret__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secret__title-text {
    text-align: center;
  }
}
