.secret {
    padding: 120px 0;
    background-image: url(../img/secret_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &__wrapper {
        max-width: 1290px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 45px;
        background-color: #fff;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        align-items: center;
        grid-gap: 80px;
        position: relative;
        z-index: 5;
    }

    &__title {
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-img {
        width: 130px;
        height: 130px;
        max-width: 130px;
        max-height: 130px;
        margin-bottom: 30px;
    }

    &__title-text {
        font-weight: 800;
        font-size: 54.8537px;
        text-transform: uppercase;
        color: #000000;
        span {
            display: inline-block;
            background: linear-gradient(88.76deg, #eeb15c 0%, #f4dd8e 91.51%), #c4c4c4;
            padding: 0 10px;
        }
    }

    &__description {
        p {
            margin-bottom: 25px;
            font-size: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__decor {
        position: absolute;
        width: 100%;
        max-width: 155px;
        top: -180px;
        left: 0;
        z-index: 1;
    }
}

@media (max-width: 1400px) {
    .secret {
        &__decor {
            max-width: 100px;
            top: -100px;
        }
    }
}

@media (max-width: 1320px) {
    .secret {
        padding: 100px 20px;
        &__wrapper {
            max-width: 100%;
        }
        &__title-text {
            font-size: 45px;
        }
    }
}
@media (max-width: 1200px) {
    .secret {
        &__wrapper {
            grid-gap: 20px;
        }
        &__title-text {
            font-size: 40px;
        }
        &__description {
            p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .secret {
        &__wrapper {
            padding: 20px;
        }
        &__title-text {
            font-size: 34px;
        }
        &__description {
            p {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 850px) {
    .secret {
        padding: 100px 10px;
        &__title-text {
            font-size: 28px;
        }
    }
}

@media (max-width: 768px) {
    .secret {
        padding: 80px 10px;
        &__wrapper {
            flex-direction: column;
        }
        &__title {
            flex-direction: row;
            max-width: 100%;
            justify-content: center;
        }
        &__title-img {
            margin-bottom: 0;
            margin-right: 15px;
        }
        &__decor {
            max-width: 70px;
            top: -60px;
        }
    }
}

@media (max-width: 450px) {
    .secret {
        &__title {
            flex-direction: column;
        }
        &__title-text {
            text-align: center;
        }
    }
}
